
<nav class="nav-links">
    @if (User.IsInRole("Admin"))
    {
        <a class="nav-link @(Context.Request.Path == "/" ? "active" : "" )" asp-controller="Admin" asp-action="Index">
            <i class="fa-solid fa-diagram-project"></i>
            <span>Dashboard</span>
        </a>
        <a class="nav-link @(Context.Request.Path == "/miniprojects" ? "active" : "" )" asp-controller="MiniProjects" asp-action="Index">
            <i class="fa-duotone fa-solid fa-briefcase" alt="briefcase icon"></i>
            <span>MiniProjects</span>
        </a>
        <a class="nav-link @(Context.Request.Path == "/projects" ? "active" : "" )" asp-controller="Projects" asp-action="Index">
            <i class="fa-duotone fa-solid fa-briefcase" alt="briefcase icon"></i>
            <span>Projects</span>
        </a>
        <a class="nav-link @(Context.Request.Path == "/members" ? "active" : "")" asp-controller="Members" asp-action="Index">
            <i class="fa-duotone fa-solid fa-user-group" alt="contacts icon"></i>
            <span>Team Members</span>
        </a>
        <a class="nav-link @(Context.Request.Path == "/clients" ? "active" : "")" asp-controller="Clients" asp-action="Index">
            <i class="fa-duotone fa-solid fa-handshake" alt="hansdhake icon"></i>
            <span>Clients</span>
        </a>
    }
    else 
    {
        <a class="nav-link @(Context.Request.Path == "/" ? "active" : "" )" asp-controller="Admin" asp-action="Index">
            <i class="fa-solid fa-diagram-project"></i>
            <span>Dashboard</span>
        </a>
        <a class="nav-link @(Context.Request.Path == "/miniprojects" ? "active" : "" )" asp-controller="MiniProjects" asp-action="Index">
            <i class="fa-duotone fa-solid fa-briefcase" alt="briefcase icon"></i>
            <span>MiniProjects</span>
        </a>
        <a class="nav-link @(Context.Request.Path == "/projects" ? "active" : "" )" asp-controller="Projects" asp-action="Index">
            <i class="fa-duotone fa-solid fa-briefcase" alt="briefcase icon"></i>
            <span>Projects</span>
        </a>
    }

        </nav>