@model Business.Models.ClientResult 

<div class="card">
    <table>
        <thead>
            <tr>
                <th class="client-check"><input type="checkbox" /></th>
                <th class="client-info">Client Name</th>
                <th class="client-location">Location</th>
                <th class="client-phone">Phone</th>
                <th class="client-date">Date</th>
                <th class="client-status">Status</th>
                <th class="client-actions"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="client-check"><input type="checkbox" /></td>
                <td class="client-info">
                    <img class="client-image" src="~/Images/Image_Website_Redesign.svg" alt="client image" />
                    <div class="client-name">GitLab Inc.</div>
                    <div class="client-email">gitlab@domain.com</div>
                </td>
                <td class="client-location">Sveavägen 15 11154 Stockholm</td>
                <td class="client-phone">+46 767554390</td>
                <td class="client-date">2025-09-03</td>
                <td class="client-status">
                    <div class="badge success">
                        <span class="success">active</span>
                    </div>
                </td>
                <td class="client-actions">
                    <i class="fa-solid fa-ellipsis" data-type="modal" data-target="#editClientModal"></i>
                </td>
            </tr>
           @*  @if (Model != null && Model.Succeeded && Model.Result != null && Model.Result.Any())
            {
                @foreach (var client in Model.Result)
                {
                    <tr>
                        <td class="client-check"><input type="checkbox" /></td>
                        <td class="client-info">
                            <img class="client-image" src="@client.Image" alt="" />
                            <div class="client-name">@client.ClientName</div>
                            <div class="client-email">@client.Email</div>
                        </td>
                        <td class="client-location">@client.Address</td>
                        <td class="client-phone">@client.Phone</td>
                        <td class="client-date">@client.Date</td>
                        <td class="client-status">
                            <div class="badge @(client.Status == "Active" ? "success" : "warning")">
                                @client.Status
                            </div>
                        </td>
                        <td class="client-actions">
                            <i class="fa-solid fa-ellipsis" data-modal="true" data-target="#editClientModal"></i>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="no-clients-row">
                    <td>No clients found</td>
                </tr>
            } *@
        </tbody>
    </table>
</div>

