@model IEnumerable<ClientViewModel>

<div class="card">

    <table>
        <thead>
            <tr>
                <th class="client-check"><input type="checkbox" /></th>
                <th class="client-info">Client Name</th>
                <th class="client-location">Location</th>
                <th class="client-phone">Phone</th>
                <th class="client-date">Date</th>
                <th class="client-status">Status</th>
                <th class="client-actions"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var client in Model)
                {
                    <tr>
                        <td class="client-check"><input type="checkbox" /></td>
                        <td class="client-info">
                            <img class="client-image" src="@client.Client.Image" alt="client image" />
                            <div class="client-name">@client.Client.ClientName</div>
                            <div class="client-email">@client.Client.Email</div>
                        </td>
                        <td class="client-location">@client.Client.StreetName, @client.Client.PostalCode, @client.Client.City </td>
                        <td class="client-phone">@client.Client.Phone</td>
                        <td class="client-date">@client.Client.Date</td>
                        <td class="client-status">

                            <div class="badge @(client.Client.Status == "1" || client.Client.Status == "Active" ? "success" : "danger")">
                                <span class="@(client.Client.Status == "1" || client.Client.Status == "Active" ? "success" : "danger")">
                                    @(client.Client.Status == "1" || client.Client.Status == "Active" ? "Active" : "Inactive")
                                </span>
                            </div>
                        </td>

                        <td class="client-actions" data-id="@client.Client.Id">
                                <i class="fa-solid fa-ellipsis edit-client-button"
                                   data-type="dropdown"
                                   data-target="#clientDropdown-@client.Client.Id"
                                   data-id="@client.Client.Id"
                                   data-name="@client.Client.ClientName"
                                   data-email="@client.Client.Email"
                                   data-phone="@client.Client.Phone"
                                   data-streetname="@client.Client.StreetName"
                                   data-postalcode="@client.Client.PostalCode"
                                   data-city="@client.Client.City"
                                    data-status="@(client.Client.Status == "0" || client.Client.Status == "Inactive" ? "0" : "1")"
                                   data-image="@client.Client.Image"
                                   data-template="@client.Client.Date">

                                </i>
                            <div class="dropdown dropdown-client" id="clientDropdown-@client.Client.Id">
                                @await Html.PartialAsync("Dropdowns/_ClientDropdownPartial", client.Client)
                            </div>
                        </td>
                   </tr>
                }
            }
            
        </tbody>
    </table>

</div>
