    @model IEnumerable<ClientViewModel>

    <div class="card">

    <table>
        <thead>
            <tr>
                <th class="client-check"><input type="checkbox" /></th>
                <th class="client-info">Client Name</th>
                <th class="client-location">Location</th>
                <th class="client-phone">Phone</th>
                <th class="client-date">Date</th>
                <th class="client-status">Status</th>
                <th class="client-actions"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var client in Model)
                {
                    <tr>
                        <td class="client-check"><input type="checkbox" /></td>
                        <td class="client-info">
                            <img class="client-image" src="@client.Client.Image" alt="client image" />
                            <div class="client-name">@client.Client.ClientName</div>
                            <div class="client-email">@client.Client.Email</div>
                        </td>
                        <td class="client-location">@client.Client.StreetName, @client.Client.PostalCode, @client.Client.City </td>
                        <td class="client-phone">@client.Client.Phone</td>
                        <td class="client-date">@client.Client.Date</td>
                        <td class="client-status">
                            <div class="badge success">
                                <span class="success">@client.Client.Status</span>
                            </div>
                        </td>
                        <td class="client-actions" id="editClientModal-@client.Client.Id">
                            <i class="fa-solid fa-ellipsis"
                               data-type="modal"
                               data-target="#editClientModal"
                               data-id="@client.Client.Id"
                               data-name="@client.Client.ClientName"
                               data-email="@client.Client.Email"
                               data-phone="@client.Client.Phone"
                               data-address="@client.Client.StreetName, @client.Client.PostalCode, @client.Client.City"
                               data-status="@client.Client.Status"
                               data-image="@client.Client.Image"
                               data-template="@client.Client.Date">
                           
                            </i>
                        </td>
                   </tr>
                }
            }
            
        </tbody>
    </table>

</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.fa-ellipsis').forEach(icon => {
            icon.addEventListener('click', function () {
                const modal = document.querySelector('#editClientModal');

                modal.querySelector('[name="ClientName"]').value = this.dataset.name;
                modal.querySelector('[name="Email"]').value = this.dataset.email;
                modal.querySelector('[name="Phone"]').value = this.dataset.phone;
                modal.querySelector('[name="Address"]').value = this.dataset.address;

                // If using a hidden field for ID
                let idField = modal.querySelector('[name="Id"]');
                if (idField) {
                    idField.value = this.dataset.id;
                }

                // Update status dropdown
                const statusInput = modal.querySelector('[name="client-select-value"]');
                if (statusInput) {
                    statusInput.value = this.dataset.status.toLowerCase() === "active" ? "1" : "2";
                    modal.querySelector('.custom-select-text').innerText = this.dataset.status;
                }
            });
        });
    });
</script>
