@model UserViewModel


    <div class="member card" data-project-id="@Model.Id">
            <div class="card-header member">
                    
                    <button type="button" data-type="dropdown" data-target="#memberDropdown-@Model.Id" class="btn-action">
                    <i class="fa-solid fa-ellipsis"></i>
                    </button>

                   
                    <div class="dropdown dropdown-member" id="memberDropdown-@Model.Id">
                        @await Html.PartialAsync("Dropdowns/_MemberDropdownPartial")
                    </div>

            </div>

            <div class="card-body">
                <div class="user-image">
                    <img class="user-image" src="@Model.UserImage" alt="user image" />
                </div>
                <h4 class="name">@Model.FirstName @Model.LastName</h4>
                <div class="jobtitle">
                    <span class="badge normal">@Model.JobTitle</span>
                </div>
                <div class="email">
                    <span> @Model.Email</span>
                </div>

                <div class="phone">
                    <span >@Model.PhoneNumber</span>
                </div>
                 <div class="badge @(Model.Role == "Admin" ? "success" : (Model.Role == "User" ? "info" : "info"))" >
                    <span class="badge-role @(Model.Role == "Admin" ? "success" : (Model.Role == "User" ? "info" : "info"))">@Model.Role</span>
                 </div>
            </div>

            <div class="card-footer">
                <button type="button" class="btn btn-message">Message</button>
            </div>
          
                
        </div>
 