@model UserViewModel


    <div class="member card" data-project-id="@Model.Id">
            <div class="card-header">
        <button type="button" data-type="modal" data-target="#editMemberModal" class="btn-action" data-user-id="@Model.Id">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>
            </div>

            <div class="card-body">
                <div class="user-image">
                    <img class="user-image" src="@Model.UserImage" alt="user image" />
                </div>
                <h4 class="name">@Model.FirstName @Model.LastName</h4>
                <div class="jobtitle">
                    <span class="badge normal">@Model.JobTitle</span>
                </div>
                
                <span class="email">@Model.Email</span>
                <span class="phone">@Model.PhoneNumber</span>
            </div>

            <div class="card-footer">
                <button type="button" class="btn btn-message">Message</button>
            </div>
          
                
        </div>
 