

@model Business.Models.UserResult // suggested by Chat gpt as it is the model type that the action method in controller was passing

@if (Model != null && Model.Result != null && Model.Result.Any())
{
    @foreach (var member in Model.Result)
    {
        <div class="member card" data-member-id="1">
            <div class="card-header">
                <button type="button" data-type="modal" data-target="#editMemberModal" class="btn-action">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>
            </div>

            <div class="card-body">
                <div class="user-image">
                    <img class="user-image" src="~/images/Avatar_2_big.svg" alt="user image" />
                </div>
                <h4 class="name">@member.FirstName @member.LastName</h4>
                <div class="jobtitle">
                    <span class="badge normal">@member.JobTitle</span>
                </div>
                
                <span class="email">@member.Email</span>
                <span class="phone">@member.PhoneNumber</span>
            </div>

            <div class="card-footer">
                <button type="button" class="btn btn-message">Message</button>
            </div>
          
                
        </div>
    }
}
else
{
    <p>No members found.</p>
}